#four{
	 font-family:'Lato' !important;
	 font-weight:300;
	 font-size:55 pt;
	 position:relative;
	 /* text-align:left;*/
}
.a_black3{
	background-color:#000;
	margin-right: -4px;
	color:#FFF;
	padding:10px;
	text-decoration:none;
}
.a_black2{
	background-color:#000;
	margin-right: -4px;
	color:#FFF;
	padding:10px;
	text-decoration:none;
}
.a_black2:hover {
	background: none repeat scroll 0% 0% #fff1a1;
	color:#000;
}
.a_yellow1{
	background-color:rgba(255,255,102,0.7);
	margin-right: -4px;/**/
	margin-left:5px;
	color:#000;
	padding:10px;
	padding-bottom:10px;
	text-decoration:none;
}
.a_yellow1:hover {
	background-color:#FFF6C5;
	opacity:1;
}
.a_yellow2{
	background-color:rgba(255,255,102,0.7);
	margin-right: -4px;
	margin-left:2px;
	color:#000;
	padding:10px;
	padding-bottom:10px;
	text-decoration:none;
}
.a_yellow2:hover {
	background-color:#FFF6C5;
}
.nav_menu
{
	/*background: linear-gradient(to right, black 0%,black 50%,#000000 50%,rgba(0,0,0,0.1) 50%,rgba(0,0,0,0.1) 50%) 100%;*/
	padding:10px;
}