/* Definimos un ancho y lo movemos a la derecha*/
.navigation{
  width: 15em;
  right: -15em; 
  position: absolute;
  overflow: hidden;
  display: block;
  height: 10000%;
  background-color: #000;
}
.navigation li{
  display: block; //los elementos van uno debajo de otro
}
.navigation-toggle {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  right: 0px;
}
.nav-js #wrapper{
  -webkit-transform:translate(-15em, 0) scale(1, 1);
     -moz-transform:translate(-15em, 0) scale(1, 1);
      -ms-transform:translate(-15em, 0) scale(1, 1);
       -o-transform:translate(-15em, 0) scale(1, 1);
	  transform:translate(-15em, 0) scale(1, 1);
}